.container {
  background-color: #F8F8F8;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 95%;
  margin: 5px auto;
  color: #3D978F;
  cursor: pointer;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
